@import "_variables.scss";

html {
  font-size: 62.5%;
  padding: 0rem;
  margin-top: 0rem;
  box-sizing: border-box;
}
// IMAGE W/ HOVER DROP DOWN TEXT EXPLAINING REYKJAVIK
// https://codepen.io/amirnaeem/pen/BoZoWj?fbclid=IwAR3xQfLEzVbITu5gvX6tQ4M5fMS3s_GwgICc7t0V7ol3ZkJZMbh0skeZeW8

// .dropdown-video {
//   position: fixed;
//   z-index: -10;
//   width: 100vw;
//   height: auto;
// }
.dropdown-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, $skyblue, $lightestblue, $blue);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  @include phone {
    justify-content: space-evenly;
    background: linear-gradient(-45deg, $lightestblue, $blue);
  }
  @include tablet {
    justify-content: space-evenly;
  }
}
.dropdown-header-text {
  padding-top: 1.5rem;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 34vw;
  color: $purple;
  font-size: 4.5rem;
  font-family: "Quando", serif;
  text-align: center;
  text-shadow: 2px 2px $black;
  @include phone {
    font-size: 2.5rem;
  }
  @include tablet {
    width: 62vw;
    font-size: 3.5rem;
  }
  @include laptop {
    width: 50vw;
    font-size: 3.5rem;
  }
}
.dropdown-container-both {
  display: flex;
  flex-direction: row;
  @include phone {
    flex-direction: column;
  }
  @include tablet {
    justify-content: center;
  }
  @include laptop {
    justify-content: space-evenly;
  }
}
.dropdown-container-left {
  position: relative;
  width: 100%;
  @include tablet {
    width: auto;
  }
  @include laptop {
    width: auto;
  }
}
.dropdown-container-right {
  position: relative;
  width: 100%;
  @include tablet {
    width: auto;
  }
  @include laptop {
    width: auto;
  }
}
@mixin margin-left {
  margin-left: 0;
}
.dropdown-left {
  display: flex;
  justify-content: center;
  margin-left: 25rem;
  @include phone {
    @include margin-left;
  }
  @include tablet {
    @include margin-left;
  }
  @include laptop {
    @include margin-left;
  }
}
.dropdown-image-left {
  width: 55rem;
  height: auto;
  border: 0.8rem solid $skyblue;
  border-radius: 5rem 5rem 0 0;
  box-shadow: 0.7rem 0.7rem $black;
  @include phone {
    box-shadow: 0.5rem 0.5rem $black;
    width: 32rem;
  }
  @include tablet {
    width: 43rem;
    border-radius: 5rem 0 0 5rem;
  }
}
.dropdown-content-left {
  position: absolute;
  width: 55rem;
  height: 0;
  top: 39rem;
  left: auto;
  right: auto;
  background-color: $skyblue;
  overflow: hidden;
  transition: 0.3s ease;
  border: 0.8rem solid $skyblue;
  border-radius: 0 0 5rem 5rem;
  border-top: 0;
  box-shadow: 0.7rem 0.7rem $black;
  @include phone {
    box-shadow: none;
    border: none;
  }
  @include tablet {
    width: 43rem;
    box-shadow: none;
    border: none;
  }
}
@mixin margin-right {
  margin-right: 0;
}
.dropdown-right {
  display: flex;
  justify-content: center;
  margin-right: 25rem;
  @include phone {
    @include margin-right;
  }
  @include tablet {
    @include margin-right;
  }
  @include laptop {
    @include margin-right;
  }
}
.dropdown-image-right {
  width: 55rem;
  height: auto;
  border: 0.8rem solid $skyblue;
  border-radius: 5rem 5rem 0 0;
  box-shadow: 0.7rem 0.7rem $black;
  @include phone {
    box-shadow: 0.5rem 0.5rem $black;
    border-top: none;
    border-radius: 0 0 5rem 5rem;
    width: 32rem;
  }
  @include tablet {
    width: 43rem;
    border-left: 0;
    border-radius: 0 5rem 5rem 0;
  }
}
.dropdown-content-right {
  position: absolute;
  width: 55rem;
  height: 0;
  top: 39rem;
  left: auto;
  right: auto;
  background-color: $skyblue;
  overflow: hidden;
  transition: 0.3s ease;
  border: 0.8rem solid $skyblue;
  border-radius: 0 0 5rem 5rem;
  border-top: 0;
  box-shadow: 0.7rem 0.7rem $black;
  @include phone {
    box-shadow: none;
    border: none;
  }
  @include tablet {
    width: 43rem;
    box-shadow: none;
    border: none;
  }
}
.dropdown-container-left:hover .dropdown-content-left {
  height: 40rem;
  transition: 0.4s ease;
  @include laptop {
    height: 30rem;
  }
}
.dropdown-image-left:hover {
  transition: 0.4s ease;
}
.dropdown-container-right:hover .dropdown-content-right {
  height: 40rem;
  transition: 0.4s ease;
  @include laptop {
    height: 30rem;
  }
}
.dropdown-image-right:hover {
  transition: 0.4s ease;
}
.dropdown-header-text:hover {
  color: $violet;
  transition: 0.4s ease;
  transform: translateY(5px);
}
.dropdown-text {
  color: $white;
  font-size: 2.5rem;
  font-family: "Quando", serif;
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
