@import "_variables.scss";

html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: 0rem;
    box-sizing: border-box;
}

.heading-text-box{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
  @include phone{
    top: 47%;
  }
}

.heading-main{
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 8rem;
  font-family: 'Quando', serif;
  color: $white;
  text-shadow: 3px 3px 3px $black;
  @include phone{
    font-size: 5.5rem;
  }
  @include tablet{
    font-size: 7rem;
  }
  @include laptop{
    font-size: 8rem;
  }
}

.heading-button{
  width: 24rem;
  font-size: 3rem;
  font-family: 'Ropa Sans', sans-serif;
  letter-spacing: 0.2rem;
  padding: 3rem;
  margin: -4rem;
  cursor: pointer;
  background-color: $white;
  border: solid;
  border-color: $white;
  border-radius: 5rem;
  @include phone{
    width: 17rem;
    font-size: 2.5rem;
    letter-spacing: 0rem;
    padding: 2rem;
    margin: -2rem;
  }
  @include tablet{
    font-size: 2.5rem;
    margin: -2rem;
  }
  @include laptop{
    width: 24rem;
    font-size: 3rem;
    margin: -4rem;
  }
}

// .heading-button:active{
//   @include tablet{
//     background-color: red;
//   }
// }

.heading-button:hover{
  scale: .95;
  transition: 0.4s;
}

.heading-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.heading-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -2rem;
  transition: 0.6s;
}

.heading-button:hover span {
  padding-right: 2rem;
}

.heading-button:hover span:after {
  opacity: 1;
  right: 0;
}