@import "_variables.scss";

html {
  font-size: 62.5%;
  padding: 0rem;
  margin-top: 0rem;
  box-sizing: border-box;
}
.accordion-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}
.accordion-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 55rem;
  padding-left: 3rem;
}
.accordion-heading{
  // text-transform: uppercase;
  // text-align: center;
  // letter-spacing: 2rem;
  font-size: 5rem;
  font-family: 'Quando', serif;
  color: $skyblue;
  text-shadow: 2px 2px 2px $black;
}
.accordion-heading-text{
  padding-right: 2rem;
  margin-top: -2rem;
  font-size: 2rem;
  font-family: 'Quando', serif;
  color: $skyblue;
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  margin-bottom: 5rem;
  padding-left: 5rem;
}
.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  
  &:hover{
    flex: 4;
  }
}
.item-1 { 
  background-image: url('img/horse-1.jpg');
}

.item-2 { 
  background-image: url('img/puffins.jpg');
}

.item-3 { 
  background-image: url('img/fox-1.jpg');
}

.item-4 { 
  background-image: url('img/whale-1.jpg');
  filter: brightness(1.4);
}