@import "_variables.scss";

html {
  font-size: 62.5%;
  padding: 0rem;
  margin-top: 0rem;
  box-sizing: border-box;
}
.accordion-header {
  background-color: $lightestblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}
.accordion-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55rem;
  padding-left: 3rem;
  margin-bottom: 9rem;
  @include phone {
    width: 75rem;
    padding-left: 2rem;
  }
  @include laptop {
    margin-right: -2rem;
  }
}
.accordion-heading{
  margin-right: 3.5rem;
  text-align: left;
  letter-spacing: -1rem;
	font-family: Futura, sans-serif;
	font-weight: 900;
  font-size: 7rem;
  @include phone {
    margin-right: 4.3rem;
    margin-top: 6rem;
    letter-spacing: -.7rem;
    font-weight: 800;
    font-size: 3.6rem;
  }
  @include tablet {
    font-size: 5.9rem;
  }
  @include laptop {
    font-size: 6.5rem;
  }
}

	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $skyblue;
			color: $navyblue;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $skyblue;
			color: $navyblue;
		}
		70%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em $skyblue;
			color: $navyblue;
		}
		100%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em $skyblue;
			color: $navyblue;
		}
	}
	.popout{
		position: relative;
		display: inline-block;
		animation: ani 1s infinite alternate cubic-bezier(0.860, 0.000, 0.070, 1.000); ;
		@for $i from 1 through 3{
			&:nth-last-child(#{$i}n){ animation-delay: -1s*$i/3/2;}
		}
	}
	

.accordion-heading-text {
  padding-right: 4rem;
  margin-top: -6rem;
  font-size: 2.5rem;
  font-family: "Quando", serif;
  color: $skyblue;
  @include phone {
    padding-right: 2rem;
    margin-top: -2.5rem;
    font-size: 1.6rem;
  }
  @include tablet {
    font-size: 2rem;
  }
  @include laptop {
    font-size: 2.3rem;
  }
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  margin-right: 5rem;
  @include phone {
    flex-direction: column;
    height: 90vh;
    margin-right: 2rem;
  }
  @include tablet {
    margin-right: 3rem;
  }
  @include laptop {
    margin-right: 4rem;
  }
}
.accordion-img {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 1.5s ease;

  &:hover {
    flex: 6;
  }
}

.item-1 {
  background-image: url("img/sheep-3.jpg");
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  filter: brightness(1.1) saturate(1.2);
}

.item-2 {
  background-image: url("img/puffins.jpg");
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.item-3 {
  background-image: url("img/fox-1.jpg");
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.item-4 {
  background-image: url("img/whale-1.jpg");
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  filter: brightness(1.4);
}

.item-5 {
  background-image: url("img/horse-1.jpg");
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.iceland-map {
  padding-right: 4rem;
  margin-top: 1rem;
  width: 30rem;
  filter: brightness(5) hue-rotate(300deg);
  @include phone {
    margin-top: 2rem;
    width: 15rem;
  }
  @include tablet {
    width: 20rem;
  }
}

.iceland-map:hover {
  animation-name: hoverPop;
  animation-duration: 0.5s;
}

@keyframes hoverPop {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(.90);
  }
}



