$lightestblue: rgb(240,248,255);
$skyblue: rgb(103, 208, 243);
$white: white;
$black: black;

$phone: 812px;
$tablet: 1024px;
$laptop: 1100px;

@mixin phone{
  @media (max-width: #{$phone}) {
    @content;
  }
}
@mixin tablet{
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop{
  @media (max-width: #{$laptop}) {
    @content;
  }
}