$lightestblue: rgb(240,248,255);
$royalblue: rgba(10, 129, 189, .3);
$blue: rgb(190, 227, 241);
$skyblue: rgb(103, 208, 243);
$purple: rgb(229, 155, 225);
$violet: rgb(209, 102, 241);
$darkpurple: rgb(185, 86, 180);
$white: white;
$black: black;
$shadow: rgba(0,0,0,0.5);

$phone-max: 812px;
$phone-min: 375px;
$tablet-max: 1024px;
$tablet-min: 813px;
$laptop-max: 1440px;
$laptop-min: 1025px;

// Tablet = 1024 x 768
// Phone = 375 x 812
// Laptop = 1140 x 900

@mixin phone{
  @media (min-width: #{$phone-min}) and (max-width: #{$phone-max}) {
    @content;
  }
}
@mixin tablet{
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
    @content;
  }
}
@mixin laptop{
  @media (min-width: #{$laptop-min}) and (max-width: #{$laptop-max}) {
    @content;
  }
}