$lightestblue: rgb(240,248,255);
$skyblue: rgb(103, 208, 243);
$white: white;
$black: black;

$tablet: 600px;
$laptop: 900px;
$desktop: 1100px;

@mixin tablet{
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop{
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop{
  @media (min-width: #{$desktop}) {
    @content;
  }
}